
.products-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  font-size: 13px; 
}

.products-table th,
.products-table td {
  border: 1px solid #ccc;
  padding: 6px 5px; 
  text-align: center;
}

.products-table th {
  background-color: #f3f3f3;
  font-size: 13px;
  font-weight: 600;
}

.products-table tr:hover {
  background-color: #f9f9f9;
}

.products-table .productname {
  text-align: left;
  padding-left: 8px;
}


.edit-btn,
.delete-btn {
  padding: 6px 8px;
  font-size: 12px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.edit-btn {
  background-color: #007bff;
  color: white;
}
.edit-btn:hover {
  background-color: #0058c7;
}

.delete-btn {
  background-color: #ff4848;
  color: white;
  margin-left: 6px;
}
.delete-btn:hover {
  background-color: #d70000;
}

.search-wrapper input {
  width: 60%;
  padding: 8px;   
  font-size: 13px;
  background: #f3f3f3;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.all-products-container {
  max-width: 1100px;
  margin: auto;
  font-family: Arial, sans-serif;
}
