.all-products-container {
  padding: 20px;
  width: 100%;
  max-width: 1100px;
  margin: auto;
  font-family: Arial, sans-serif;
}

.all-products-container .productname {
  text-align: left;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 600;
  color: #333;
}

.products-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.products-table th,
.products-table td {
  text-align: center;
  border: 1px solid #ddd;
  padding: 12px 10px;
}

.products-table th {
  background-color: #f3f3f3;
  font-weight: 600;
  color: #333;
}

.products-table tr:hover {
  background-color: #fafafa;
}

.edit-btn {
  padding: 6px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.edit-btn:hover {
  background-color: #0056b3;
}

.delete-btn {
  margin-left: 20px;
  padding: 6px 12px;
  background-color: #ff0000a9;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.delete-btn:hover{
  background-color: #ff0000;

}