
.products-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  font-size: 13px; 
}

.products-table th,
.products-table td {
  border: 1px solid #ccc;
  padding: 6px 5px; 
  text-align: center;
}

.products-table th {
  background-color: #f3f3f3;
  font-size: 13px;
  font-weight: 600;
}

.products-table tr:hover {
  background-color: #f9f9f9;
}

.products-table .productname {
  text-align: left;
  padding-left: 8px;
}


.edit-btn,
.delete-btn {
  padding: 6px 8px;
  font-size: 12px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.edit-btn {
  background-color: #007bff;
  color: white;
}
.edit-btn:hover {
  background-color: #0058c7;
}

.delete-btn {
  background-color: #ff4848;
  color: white;
  margin-left: 6px;
}
.delete-btn:hover {
  background-color: #d70000;
}

.search-wrapper input {
  width: 60%;
  padding: 8px;   
  font-size: 13px;
  background: #f3f3f3;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: black;
}

.all-products-container {
  max-width: 1100px;
  margin: auto;
  font-family: Arial, sans-serif;
}


@media screen and (max-width: 480px) {
  .products-table {
    font-size: 11px;
  }

  .products-table th,
  .products-table td {
    padding: 4px 3px;
  }

  .products-table .productname {
    padding-left: 4px;
  }

  .edit-btn,
  .delete-btn {
    width: 45px;
    margin-bottom: 3px;
    font-size: 10px;
    margin-left: 0;
  }

  .search-wrapper input {
    width: 75%;
    padding: 6px;
    font-size: 12px;
  }

  .all-products-container {
    /* padding: 0 10px; */
    overflow-x: auto;
    margin-bottom: 5rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .products-table {
    font-size: 12px;
  }

  .products-table th,
  .products-table td {
    padding: 5px 4px;
  }

  .products-table .productname {
    padding-left: 6px;
  }

  .edit-btn,
  .delete-btn {
    padding: 5px 7px;
    font-size: 11px;
  }

  .search-wrapper input {
    width: 80%;
    padding: 7px;
    font-size: 13px;
  }

  .all-products-container {
    padding: 0 15px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .products-table {
    font-size: 13px;
  }

  .products-table th,
  .products-table td {
    padding: 5px 5px;
  }

  .products-table .productname {
    padding-left: 7px;
  }

  .edit-btn,
  .delete-btn {
    padding: 5px 7px;
    font-size: 12px;
  }

  .search-wrapper input {
    width: 70%;
    padding: 7px;
    font-size: 13px;
  }

  .all-products-container {
    padding: 0 20px;
  }
}
