.bill-history-container {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

.search-bill {
  width: 100%;
  padding: 10px;
  background: #f3f4f5;
  margin-bottom: 20px;
  border: 1px solid black;
}

.invoice-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 9999;
}

.invoice-box {
  background: #fff;
  width: 90%;
  max-width: 700px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 12px rgba(0,0,0,0.15);
  max-height: 90vh;    
  overflow-y: auto;    
}
.close-popup {
  margin-top: 20px;
  background: red;
  color: white;
  padding: 8px 20px;
  border: none;
  cursor: pointer;
}

.view-btn {
  padding: 6px 12px;
  background: #007bff;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
