/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffffe0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}


@media screen and (max-width: 480px) {
  :root {
    font-size: 14px; 
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  :root {
    font-size: 15px; 
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  :root {
    font-size: 16px; 
  }
}

@media screen and (max-width: 480px) {
  body {
    padding: 0 10px; 
  }
} */
